https://auth.equipment.localhost {
	reverse_proxy pocket-id:1411
}

https://equipment.localhost {
	reverse_proxy ui:3000
}

https://equipment.localhost/api/v1/equipment* {
	reverse_proxy inventory:8080
}

https://equipment.localhost/api/v1/reservations* {
	reverse_proxy reservation:8080
}
