https://auth.equipment.localhost {
	header {
		Access-Control-Allow-Origin: https://equipment.localhost
		Access-Control-Allow-Credentials: true
	}
	reverse_proxy tinyauth:3000
}

https://equipment.localhost {
	reverse_proxy ui:3000
}
